body {
/*background-image: url("pictures/20191009_122528.jpg");*/
background-color: lightgray;
border: 10% solid gray;
background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed;
background-size: 100% 100%;
color : #FFFFFF;
font-size: 24px;
font-family: Verdana,Geneva,serif;
}

/* Centered Text Styling */
.center_text {
color:  #009FBF;
background-color: #FFFFFF;
text-align: center;
border-width: 5px;
border-color: #C4CCC1;
border-style: outset;
}

.center {
  text-align: center;
  color:  #009FBF;
  text-align: center;
}

footer.center_text {
  font-size: 20px;
}
/* Centered Text Styling End */

.space {
padding-left: 50%;
padding-right: 50%;
padding-top: 1.5%;
padding-bottom: 1.5%;
border-style: none;
}

.gap {
padding-left: 50%;
padding-right: 50%;
padding-top: 10%;
padding-bottom: 10%;
border-style: none;
}

a {
color:#009FBF;
}

ol>li>a:hover {
color : #FFFFFF;
background-color: #009FBF;
}

ol {
list-style-type: none;
margin: 0;
padding: 0;
top: 0;
text-size-adjust: 50%
text-align: center;
overflow: hidden;
background-color: #FFFFFF;
}

ol>li>a {
float: left;
display: block;
color: #009FBF;
text-align: center;
padding: .7% .8%;
text-decoration: none;
background-color: #FFFFFF;
width: 33.33%;
height: 5%;
}


/* Box Styling */
* {
box-sizing: border-box;
}
.box2 {
color : #FFFFFF;
background-color: #009FBF;
padding-top: 1%;
padding-bottom: 1%;
padding-right: 1%;
padding-left: 1%;
font-size: 1.5vw;
width: 100%;
}
.box1 {
width:50%;
margin: auto;
border-style: double;
border-color: #009FBF;
border-radius: 35px;
color : #FFFFFF;
background-color: #009FBF;
padding-top: 0;
padding-right: 0;
padding-bottom: 0;
padding-left: 0;
}
/* Box Styling End */

/* Text Resizing and Mobile Editting */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  blockquote {
    font-size: 24px;
  }
  li {
    font-size: 24px;
  }
  li.date {
    font-size: 24px;
  }
  span {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  a {
    font-size: 24px;
  }
  footer>h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  blockquote {
    font-size: 14px;
  }
  li {
    font-size: 14px;
  }
  li.date {
    font-size: 18px;
  }
  span {
    font-size: 14px;
  }
  h3 {
    font-size: 10px;
  }
  a {
    font-size: 14px;
  }
  footer>h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  blockquote {
    font-size: 10px;
  }
  li {
    font-size: 10px;
  }
  li.date {
    font-size: 14px;
  }
  span {
    font-size: 10px;
  }
  h3 {
    font-size: 6px;
  }
  a {
    font-size: 10px;
  }
  footer>h3 {
    font-size: 8px;
  }
}
/* Resizing End */

h2.names {
  color:  #009FBF;
  background-color: #FFFFFF;
  border-width: 5px;
  border-color: #C4CCC1;
  border-style: outset;
}
/* Pictures Start */
img#rotate180 {
 transform: rotate(180deg);
 position: relative;
 align-content: center;
 top: 0;
 width: auto;
 height: 250px;
 border-style: outset;
}

img.rotate90l{
  transform: rotate(90deg);
  align: left;
  width: auto;
  height: 150px;
}
/* school photo */
img#main{
  transform: rotate(180deg);
  width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  top: 25px;
  left: 12.5%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
/* Pictures end*/

/* Events Formatting */
#homepageCalendar {
  border-width: 10px;
  border-style: double;
  border-color:yellow;
  padding: 5px;
  background-color: #C4CCC1;
}

.monthContainer {
  border-width: 10px;
  border-style: double;
  border-color:yellow;
  padding: 5px;
  background-color: #C4CCC1;
}

.monthContainer>h1 {
  padding: 10px;
  border-style: double;
  border-color:yellow;
}

.event {
  background-color: #ffffff;
  color: #009FBF;
  border-width: 5px;
  border-style: outset;
}

.date {
  list-style-type: none;
}
/* Events Formatting End */

/* Multimedia Picture CSS Start*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* Multimedia Picture CSS End*/



/*  */ 